<h1>esto es el  login</h1>
<div>
    <form action="/api/users/login" method="post">
    
    <input type="text" name="user" id="user">
    <br>
    <input type="text" name="password" id="password">
    <button type="submit">enviar</button>
    
</form>
</div>